{# Add action template for Comments controller #}
{% extends 'base.twig' %}

{% block title %}{{ 'Add comment'|trans }}{% endblock %}

{% block heading %}{{ 'Add comment'|trans }}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <form action="{{ url('comments_add') }}" method="post">
                    {{ form_widget(form) }}
                    <input type="submit" name="submit" class="btn btn-success" value="{{ 'Save'|trans }}" />
                </form>
            </div>
        </div>
    </div>


{% endblock %}